<form action="/animals/update/{{id}}" method="post">
{{!-- the method of the form is what determines the request type that is being made (get/post) --}}


    <label for="animal-name-input">
        Animal Name: 
        <input type="text" placeholder="Theon Greyjoy" name="name" value={{name}}>
    </label>
    
    <label>
        Color: 
        <input type="text" name="color" value={{color}}>
    </label>

    <label>
        Species: 
        <input type="text" name="species" value={{species}}>
    </label>

    <label>
        Sex: 
        <input type="text" name="sex" value={{sex}}>
    </label>

    {{#if vaccinated}}
    <label>
        Vaccinated?
        <input type="checkbox" name="vaccinated" value="true" checked="checked">
    </label>
    {{else}}
    <label>
        Vaccinated?
        <input type="checkbox" name="vaccinated" value="true">
    </label>
    {{/if}}

    {{#if aggressive}}
    <label>
        Aggressive? 
        <input type="checkbox" name="aggressive" value="true" checked="checked">
    </label>
    {{else}}
    <label>
        Aggressive? 
        <input type="checkbox" name="aggressive" value="true">
    </label>
    {{/if}}


    {{#if available}}
    <label>
        Available? 
        <input type="checkbox" name="available" value="true" checked="checked" >
    </label>
    {{else}}
    <label>
        Available? 
        <input type="checkbox" name="available" value="true">
    </label>
    {{/if}}


    <br>
    <button>Update</button>
    {{!-- buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top --}}
</form>